<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probability Prediction</title>
</head>
<body>
    <form method="post" action="/probability_prediction">
        <label for="teamA">Team A:</label>
        <input type="text" name="teamA" required><br>

        <label for="teamB">Team B:</label>
        <input type="text" name="teamB" required><br>

        <input type="submit" value="Predict Probabilities">
    </form>
</body>
</html>
